@import '../../../style/variables';
@import '../../../style/mixins';
.Drawer_container{
    color: $bg-color-1 !important;
    background-color: $main-color !important;
}
a.home-nav {
    color: inherit !important;
}
.add-project{
    border:0;
    background-color:white;
}

.add-project .tooltiptext {
    visibility: hidden;
    font-size: 12px;;
    // width: 200px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px 6px 0 6px;
    padding: 10px 5px;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom:50px;
    right:40px;
  }
  
  .add-project:hover .tooltiptext {
    visibility: visible;
  }