@import '../../../style/variables';
@import '../../../style/mixins';
.Drawer_container{
    color: $bg-color-1 !important;
    background-color: $main-color !important;
}
a.home-nav {
    color: inherit !important;
}