@import '../../../style/variables';
@import '../../../style/_mixins';
  
  .features__container {
    .scroll-down {
      position: absolute;
      bottom: 30px;
      left: 50%;
      transform: translate(-50%, 0);
      color: $black;
      font-weight: 400;
      text-transform: uppercase;
      font-size: 16px;
      overflow: visible;
    }
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    width: 600%;
    // height: 100vh;
    display: flex;
    flex-wrap: nowrap;
    margin: 0;
    height: 100%;
    -webkit-overflow-scrolling: touch;
    overflow-clip-margin: touch;
    h1,
  h2,
  p,
  li {
    max-width: 800px;
  }
  .panel.align-top {
    align-items: flex-start;
  }
  h1 {
    font-size: 1.8em;
    color: $white;
    font-weight: 300;
    margin: 0 auto;
  }
  .panel {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 1.5em;
    text-align: center;
    color: $white;
    position: relative;
    box-sizing: border-box;
    padding: 10px;
  }
  
  
  /* HEADINGS */
  .header-section {
    padding: 0 15px;
    text-align: center;
    margin: 40vh auto 50vh;
  }
  
  /* SCROLL DOWN */

  .scroll-down .arrow {
    position: relative;
    top: -4px;
    margin: 0 auto;
    width: 20px;
    height: 20px;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MTIgNTEyIj4KPHBhdGggZmlsbD0iYmxhY2siIGQ9Ik00ODMuMiwxOTIuMmMtMjAuNS0yMC41LTUzLjUtMjAuOC03My43LTAuNkwyNTcsMzQ0LjFMMTA0LjUsMTkxLjZjLTIwLjItMjAuMi01My4yLTE5LjktNzMuNywwLjYKCWMtMjAuNSwyMC41LTIwLjgsNTMuNS0wLjYsNzMuN2wxOTAsMTkwYzEwLjEsMTAuMSwyMy40LDE1LjEsMzYuOCwxNWMxMy4zLDAuMSwyNi43LTQuOSwzNi44LTE1bDE5MC0xOTAKCUM1MDMuOSwyNDUuNyw1MDMuNywyMTIuNyw0ODMuMiwxOTIuMnoiLz4KPC9zdmc+);
    background-size: contain;
  }
  .panel.description {
    padding-bottom: 60px;
  }
  .panel p,
  .panel li {
    color: $black;
    font-weight: 400;
    text-align: left;
    font-size: 0.8em;
    line-height: 1.5em;
    margin: 0.3em 0 1em 0;
  }
  .panel p strong,
  .panel li strong {
    color: $white;
    font-weight: 400;
  }
  .panel p code,
  .panel li code {
    background-color: rgba(255, 255, 255, 0.15);
    padding: 2px 4px;
    border-radius: 5px;
  }
  .panel li {
    margin: 0;
  }
}
@media (max-width:768px){
  .features__container{
    display: none;
  }
}

  
  


  

  
  

  
  
