@import '../../../../style/variables';
@import '../../../../style/mixins';


// // add task button
.addTask {
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: $main-color;
    padding: 5px 20px;
    @include rounded(5px);
}

.modalTask {
    .closeBtn {
        background-color: $formfootercolr;
        padding: 5px 20px;
        @include rounded(5px);
        color: $white;
    }
}

.lists-container {
    width: 90%;
    margin: 1rem auto;
    .list-conatiner__title {
        background-color: $main-color;
        color: $white;
        cursor: pointer;
        transition: 0.4s;
        margin-top: 20px;
        padding: 0.75rem 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 5px 5px 0 0;
        &:hover{
            background-color: #ccc;
        }
        h4{
            font-size: 16px;
            margin: 0;
        }
        span{
            background-color: $text-color-3;
            border-radius:50%;
            height: 20px;
            width: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    .list-task {
        display: none;
        overflow: hidden;
        .task{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0.25rem 1rem;
            width: 100%;
            border: 1px solid #eee;
            background-color: #eee;
            border-bottom: 1px solid $black;
            border-right: 1px solid $black;
            border-left: 1px solid $black;
            &:last-child{
                border-radius: 0 0 5px 5px;
            }
            .task_title{
                display: flex;
                align-items: center;
                h5{
                    font-size: 16px;
                    margin: 0;
                }
                span{
                    background-color: $main-color;
                    border-radius:50%;
                    height: 20px;
                    width: 20px;
                    display: flex;
                    padding: 15px;
                    color: $white;
                    justify-content: center;
                    align-items: center;
                    border: 0.25px solid $text-color-3;
                    margin-right: 10px;
                };
            }
            .task_footer{
                display: flex;
                align-items: center;
                .task_badge{
                    background-color: $text-color-3;
                    border-radius: 50px;
                    color: $white;
                    margin-left: 10px;
                    padding: 2px 10px;
                }
            }
        }
    }
}