@import '../../../../style/variables';
@import '../../../../style/mixins';

// add task button
.addTask{
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: $main-color;
    padding:5px 20px;
    @include rounded(5px);
    }
    
    .modalTask{
    
        .closeBtn{
            background-color: $formfootercolr;
            padding:5px 20px;
            @include rounded(5px);
            color:$white;
        }
    }

// Seperate views styling
// List view
.list-container{
    display:flex;
    flex-direction: column;
    max-width:100%;
    .list-column{
        min-height: 200px;
        max-width:100%;
        margin: 1rem 1rem;
        border: 1px solid #000;
        border-radius:25px 0 25px 25px;
        box-shadow: 5px 5px 1px #777;
        overflow:hidden;
        h2 {
            padding:.8rem;
            border-bottom: 1px solid #000;
        }
    }
}
.list-card{
    max-height: 100px;
    margin: 1rem 1rem;
    border: 1px solid #000;
    box-shadow: 5px 5px 1px #777;
    border-radius:20px;
}

// 5at el nar 

.board-container{
    display:flex;
    flex-wrap:nowrap;
    justify-content: space-evenly;
    
    .board-column{
        min-height: 600px;
        width:400px;
        margin: 1rem 1rem;
        border: 1px solid #000;
        border-radius:25px 0 25px 25px;
        box-shadow: 5px 5px 1px #777;
        overflow:hidden;
        div[data-rbd-droppable-id]{
            min-height:400px; 
        }
        .board-card{
            margin: 1rem 1rem;
            padding:.6rem;
            border: 1px solid #000;
            box-shadow: 5px 5px 1px #777;
            border-radius:20px;
        }
        
        
    }
    
}


// General styling
.col-title {
    padding:.8rem;
    box-shadow: -20px 2px 8px 3px rgb(64, 64, 65);
}
.notopened-title{
    padding:.8rem;
    box-shadow: -20px 2px 8px 3px rgb(64, 64, 65);
}
.inprogress-title{
    padding:.8rem;
    box-shadow: -20px 2px 8px 3px rgb(46, 187, 243);
}
.inreview-title{
    padding:.8rem;
    box-shadow: -20px 2px 8px 3px rgb(33, 115, 170);
}
.completed-title{
    padding:.8rem;
    box-shadow: -20px 2px 8px 3px rgb(11, 117, 59);
}
