@import '../../../../style/variables';
@import '../../../../style/mixins';

// add task button
.add-btns {
    @include input_animation();
    // @extend %getstartedButton;

    &:hover,
    &:focus,
    &:active {
        -webkit-box-shadow: $main-color;
        box-shadow: $main-color;
        @include scale_animation();
    }
    color: #110330;
    padding: .8rem;
    @include rounded(50%);
    background-color: black;
    position: fixed;
    bottom: 20px;
    right: 20px;
}


.add-btns .tooltiptext {
    visibility: hidden;
    font-size: 12px;;
    width: 200px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px 6px 0 6px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom:70px;
    right:40px;
  }
  
  .add-btns:hover .tooltiptext {
    visibility: visible;
  }
.addCol{
    right: 90px;
}
.close-btn{
    background-color: white;
    font-size: xx-large;
    border:0px;
    color:black;
}

// Seperate views styling
// List view
.list-container{
    display:flex;
    flex-direction: column;
    max-width:100%;
    .list-column{
        min-height: 200px;
        max-width:100%;
        margin: 1rem 1rem;
        border: 1px solid #000;
        border-radius:25px 0 25px 25px;
        box-shadow: 5px 5px 1px #777;
        overflow:hidden;
        h2 {
            padding:.8rem;
            border-bottom: 1px solid #000;
        }
    }
}
.list-card{
    max-height: 100px;
    margin: 1rem 1rem;
    border: 1px solid #000;
    box-shadow: 5px 5px 1px #777;
    border-radius:20px;
}

// 5at el nar 

.board-container{
    display:flex;
    flex-wrap:nowrap;
    justify-content: space-evenly;
    
    .board-column{
        min-height: 600px;
        width:400px;
        margin: 1rem 1rem;
        // border: 1px solid #000;
        border-radius:25px 0 25px 25px;
        box-shadow:6px 5px 8px 0px #777;
        overflow:hidden;
        div[data-rbd-droppable-id]{
            min-height:400px; 
        }
        .board-card{
            margin: 1rem 1rem;
            padding:.6rem;
            border: 1px solid #000;
            box-shadow: 5px 5px 1px #777;
            border-radius:20px;
        }
        
        
    }
    
}


// General styling
.col-title {
    padding:.8rem;
    box-shadow: -20px 2px 8px 3px rgb(64, 64, 65);
}
.notopened-title{
    padding:.8rem;
    box-shadow: -20px 2px 8px 3px rgb(64, 64, 65);
}
.inprogress-title{
    padding:.8rem;
    box-shadow: -20px 2px 8px 3px rgb(46, 187, 243);
}
.inreview-title{
    padding:.8rem;
    box-shadow: -20px 2px 8px 3px rgb(33, 115, 170);
}
.completed-title{
    padding:.8rem;
    box-shadow: -20px 2px 8px 3px rgb(11, 117, 59);
}
